* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4d5053;
  font-family: Arial, sans-serif;
  color: white;
}

.uvod h3{
    color:#ffcc00;
    font-size: 40px;
    text-shadow: 0 8px 20px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.uvod ul li{
    text-align: justify;
}
.mody h3{
    color:#ffcc00;
    font-size: 40px;
    text-shadow: 0 8px 20px rgba(0,0,0,0.5);
    margin: 20px 0 20px 0;
}
.mody ul li{
    text-align: justify;
}

.karty h3{
    color:#ffcc00;
    font-size: 40px;
    text-shadow: 0 8px 20px rgba(0,0,0,0.5);
    margin: 20px 0 20px 0;
}
.karty ul li{
    text-align: justify;
}
.karty ul li .bold{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.rarity h3{
    color:#ffcc00;
    font-size: 40px;
    text-shadow: 0 8px 20px rgba(0,0,0,0.5);
    margin: 20px 0 20px 0;
}
.rarity ul li{
    text-align: justify;
}
.rarity ul li .bold{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.karty h3{
    color:#ffcc00;
    font-size: 40px;
    text-shadow: 0 8px 20px rgba(0,0,0,0.5);
    margin: 20px 0 20px 0;
}
.karty ul li{
    text-align: justify;
}
.karty ul li .bold{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
h1 {
  font-family: Verdana;
  font-size: 65px;
  text-align: center;
  padding: 20px;
  background: #444;
  color: #ffcc00;
  text-shadow: 3px 3px 8px rgba(0,0,0,0.7);
  letter-spacing: 3px;
}


.text {
  background: #3c3c3c;             
  max-width: 900px;
  margin: 30px auto;
  padding: 25px 35px;
  border-radius: 20px;             
  box-shadow: 0 8px 20px rgba(0,0,0,0.5); 
  text-align: center;
  font-size: 18px;
  color: #f0f0f0;                  
  position: relative;
}

.images {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 40px;
  flex-wrap: wrap;
}

.fotky {
  flex: 300px;
  max-width: 350px;
  background: #2c2c2c;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
}

.fotky img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 23px;
}

.fotky h3 {
  margin: 0px 0 8px;
  font-size: 24px;
  color: #ffcc00;         
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); 
}

.fotky p {
  font-size: 16px;
  color: #e0e0e0;          
  text-align: center;
  background: rgba(60,60,60,0.85);  
  padding: 10px 14px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);
  transition: 0.3s;
  cursor: pointer;
}

.fotky a{
  text-decoration: none;
}

.fotky:hover {
  background: #ffcc00;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);

}

.fotky:hover p {
  background: rgba(60,60,60,0.85);
  color: #fff;
}

.fotky:hover h3 {
  color: #222;
}