
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at bottom, rgb(63, 139, 237), rgb(1, 14, 67));
  color: #f2f8ff;
  line-height: 1.7;
}

.hlavninadpis {
  text-align: center;
  font-size: 80px;
  color: #ffffff;
  background: linear-gradient( rgb(1, 17, 78), rgb(30, 75, 134));
  padding: 40px 0;
  text-shadow: 0 0 6px rgb(255, 255, 255);
  letter-spacing: 1.5px;
  
  border-bottom: 1.5px solid rgba(16, 227, 250, 0.6);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;
  margin: 60px;
  padding:30px 15px 30px 15px;
}

.jmeno {
  background: radial-gradient( rgba(2, 46, 91, 0.5));
  border: 2px solid rgba(16, 227, 250, 0.6);
  padding: 30px 45px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(16, 227, 250, 0.6);
  transition: all 0.4s ease;
}
.jmeno h1{
  font-size: 45px;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}
.jmeno p{
  font-size: 28px;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

.jmeno:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 80px rgba(16, 227, 250, 0.6);
}

header img {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(16, 227, 250, 0.6);
  box-shadow: 0 0 35px rgba(16, 227, 250, 0.6);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

header img:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 80px rgba(16, 227, 250, 0.6);
}

.omne {
  margin: 60px auto;
  padding: 30px 50px;
  width: 80%;
  border-radius: 25px;
  background: radial-gradient( rgba(2, 46, 91, 0.5));
  box-shadow: 0 10px 40px rgba(16, 227, 250, 0.6);
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border: 2px solid rgba(16, 227, 250, 0.6);
}

.omne:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 65px rgba(16, 227, 250, 0.6);
}

.omne h2 {
  font-size: 44px;
  margin-bottom: 25px;
  color: #ffffff;
  text-shadow: 0 0 4px rgb(255, 255, 255);
}

.omne p {
  font-size: 23px;
  color: #e6faff;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.8;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

.projekty {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient( rgb(30, 90, 169), rgb(12, 46, 90));
  border-top: 1px solid rgba(16, 227, 250, 0.6); 
}

.projekty h2 {
  font-size: 50px;
  margin-bottom: 40px;
  text-shadow: 0 0 4px rgb(255, 255, 255);
  text-decoration: underline;
}

.projekt-karta {
  background: radial-gradient( rgba(2, 46, 91, 0.5));
  border: 2px solid rgba(16, 227, 250, 0.6);
  width: 65%;
  margin: 0 auto 60px;
  padding: 40px 30px;
  border-radius: 25px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 25px rgba(16, 227, 250, 0.6);
  transition: all 0.4s ease;
}

.projekt-karta:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px rgba(16, 227, 250, 0.6);
}
.projekt-karta h3{
  font-size: 23px;
  text-shadow: 0 0 2.5px rgb(255, 255, 255);
}
.projekt-karta p{
  font-size: 18px;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}
.projekt-karta2 {
  background: radial-gradient( rgba(2, 46, 91, 0.5));
  border: 2px solid rgba(16, 227, 250, 0.6);
  width: 65%;
  margin: 0 auto 60px;
  padding: 40px 30px;
  border-radius: 25px;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 25px rgba(16, 227, 250, 0.6);
  transition: all 0.4s ease;
}

.projekt-karta2:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 40px rgba(16, 227, 250, 0.6);
}
.projekt-karta2 h3{
  font-size: 23px;
  text-shadow: 0 0 2.5px rgb(255, 255, 255);
}
.projekt-karta2 p{
  font-size: 18px;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

.tlacitko {
  display: inline-block;
  margin-top: 10px;
  background: linear-gradient(90deg, rgb(0, 200, 255), rgb(0, 140, 200));
  color: #fff;
  padding: 14px 32px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 18px rgba(16, 227, 250, 0.6);
}

.tlacitko:hover {
  transform: scale(1.07);
  box-shadow: 0 0 35px rgba(16, 227, 250, 0.6);
}

footer {
  text-align: center;
  padding: 25px;
  background: radial-gradient( rgba(7, 21, 93, 0.6), rgba(3, 0, 20, 0.6));
  color: #e8ffff;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 12px rgba(16, 227, 250, 0.6);
}

.contact-links{
  justify-content: center;
}
.test{
  width: 100px;
  height: 40px;
}


